<div class="product-list">
        <div class="filter-list">
                <h2>Select Category</h2>
                <div style="margin:auto; width: 100%; padding: 10px;" >
                        <select [(ngModel)]="catSelected" (ngModelChange)="onCategorySelected($event)">
                                <option *ngFor="let cat of category" [ngValue]="cat">
                                        {{cat.Name}}
                                </option>
                        </select>
                </div>
        </div>
        
        
        <div class="row">
                <div class="col-md-4" *ngFor="let product of productList">
                        <app-product-item [productItem]="product">
                        </app-product-item>
                </div>
        </div>
</div>
