<div class="row">
        <div class="col">
                <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Categories</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>Men's Fashion</button>
                                <button ngbDropdownItem>Home Furnishing</button>
                                <button ngbDropdownItem>Electronics</button>
                        </div>
                </div>
        </div>
</div>