<section>
<div class="container w-50">
    
      <h1  class="page-section-heading text-center text-uppercase text-dark mb-1"> Order Details</h1>
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-line"></div>
   </div>
   <div class="center-pagination ">
    <div *ngIf="loading" class="loading">
      <div class="loader"></div>
    </div>
  </div>
    <div *ngIf="!loading && data"  class="shadow-lg  mb-5 bg-white rounded" >
        <div class="row " style="margin-top: 1%;">
            <div class="col-md ">
                    <mat-card>
                        
                        <mat-card-content>
                            <div class="row">
                                <div class="col col-md-3">
                                    <span><strong>Order Id</strong> </span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{order.orderId}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-3">
                                    <span><strong>User Id</strong> </span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{order.userId}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-3">
                                    <span><strong>Order Date</strong> </span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{order.orderDate}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-3">
                                    <span><strong>Delivery Date</strong> </span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{order.deliveryDate}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-3">
                                    <span><strong>Amount</strong> </span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{order.amount}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-3">
                                    <span><strong>Payment</strong> </span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{order.paymentType}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-3">
                                    <span><strong>Payment</strong> </span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{order.paymentId}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-3">
                                    <span><strong>Order status</strong> </span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{order.status}}</span>
                                </div>
                            </div>
                            
                            
                        </mat-card-content>
                        <mat-card-title>
                            Delivery Address
                        </mat-card-title>
                        <mat-card-content>
                            <div class="row">
                                <div class="col col-md-2">
                                    <span><strong>Name</strong> </span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{'Rohit Agarwal'}}</span>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col col-md-2">
                                    <span><strong>Address</strong>  </span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{order.address}}</span>
                                </div>
                            </div>
                            
                            <div class="row" >
                                <div class="col col-md-2">
                                    <span><strong>Contact</strong></span>
                                </div>
                                <div class="col col-md-9">
                                    <span>{{order.contact}}</span>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-title>
                            Order Summary
                        </mat-card-title>
                        <mat-card-content>
                            <div class="row" style="margin-top: 1%;" *ngFor="let item of order.orderItems; let i=index;">
                                <div class="col">
                                    <img class="img-fluid img-thumbnail rounded float-left" [src]="item.imageUrl" height="100px" width="100px">
                                </div>
                                
                                <div class="col float-left col-md-10" style="margin-left: 2%;"  >
                                    <div class="row">
                                        <div class="col">
                                            <mat-card-content>
                                                <div class="row">
                                                    <div class="col">
                                                        <span style="color: black; font-size: medium;">Name:{{item.productName}}</span>
                                                    </div>                         
                                                </div>
                                                <div class="row" style="padding-top: 1%;">
                                                    <div class="col">
                                                        <div><span style="color: grey;">Price: {{item.price}}</span> </div>
                                                        <div><span style="color: grey;">Quantity: {{item.quantity}}</span></div>
                                                    </div>
                                                </div>
                                            </mat-card-content>                               
                                        </div>
                                    </div>        
                                </div>
                                
                                
                            </div>  
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="text-center">
                                <button mat-raised-button class="btn btn-primary"  (click)="updateStatus()"> UPDATE</button>
                             </div>
                        
                        </mat-card-actions>
                    </mat-card>
                    
            </div>
        </div>
    </div>
    <div style="margin-top: 5px" *ngIf="response.status"
         class="alert alert-danger">
       {{response.message}}
    </div>
     
</div>
</section>

